<br>
<div class="row">

        <div class="col-md-4" align="center">
            <div class="well well-lg">
                <a href="/dailydeals" ><img src="\images\daily.jpg" style="width: 80%"><br><br><br></a>
                <input type="button" class="btn btn-group-lg btn-primary" value="Daily Deals">

            </div>
        </div>

    <div class="col-md-4" align="center">
        <div class="well well-lg">
            <a href="" ><img src="\images\offer.jpg" style="width: 80%"><br><br><br></a>

            <input type="button" class="btn btn-group-lg btn-primary" value="Offers & Promotions">
        </div>
    </div>

    <div class="col-md-4" align="center">
        <div class="well well-lg">
           <a href="/"> <img src="\images\other.jpg" style="width: 80%"><br><br><br></a>

            <input type="button" class="btn btn-group-lg btn-primary" value="Other">
        </div>
    </div>


</div>