<script src="javascripts/promoImage.js"></script>

<style>
    input,textarea, select,p  {
        margin: 10px;
    }

    input[type=checkbox]{
        margin-left: 15px;
    }
</style>
<div class="row" align="center">
    <div class="col-md-5">
        <div class="well">
            <form action="promo/addDailyDeal" method="post">
            <table>
                <tr>
                    <td colspan="2" align="center">
                        <img src="" id="promoImage" height="130">
                        <input type="hidden" id="pImage" name="pImage">
                    </td>
                </tr>

                <tr>
                    <td>Item: </td>
                    <td> <select name="item_name" id="item_name">
                        {{# each items }}
                            <article class="item">
                                <option value={{this.code}}>  {{this.name}} ({{this.code}})</option>


                            </article>
                        {{/each}}
                    </select></td>
                </tr>
                <tr>
                    <td>
                        Current Price:
                    </td>
                    <td>
                     <p id="currentprice" name="currentprice"></p>
                    </td>
                </tr>
                <tr>
                    <td>Offer Type:  </td>
                    <td>
                        <select name="offer_type">
                            <option value="dailydeal">Daily Deal</option>
                            <option value="promotion">Offers & Promotions</option>
                            <option value="other">Other</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Start Date:  </td>
                    <td><input type="date" name="promo_start_date"></td>
                </tr>
                <tr>
                    <td>End Date:  </td>
                    <td><input type="date" name="promo_end_date"></td>
                </tr>
                <tr>
                    <td>Promotion: </td>
                    <td><textarea name="promotion_desc"></textarea></td>
                </tr>
                <tr>
                    <td>
                        New Price: LKR
                    </td>
                    <td>
                        <input type="text" id="newprice" name="newprice" >
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" class="btn btn-primary" value="Add Promotion"></td>
                </tr>

            </table>
                <input type="hidden" id="brand" name="brand">
                <input type="hidden" id="desc" name="desc">
                <input type="hidden" id="price" name="price">
                <input type="hidden" id="itemname" name="itemname">


            </form>

        </div>

    </div>

</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    $("#item_name").change(function () {
        var data = $(this).val();
             $.post('/promo/images', {datan: data}, function (res) {
//                 console.log(data);
                 document.getElementById('promoImage').src = res[0].image;
                 document.getElementById('pImage').value = res[0].image;
                 document.getElementById('currentprice').innerHTML="LKR "+res[0].price;
                 document.getElementById('currentprice').value=res[0].price;
                 document.getElementById('brand').value=res[0].brand;
                 document.getElementById('desc').value=res[0].desc;
                 document.getElementById('price').value=res[0].price;
                 document.getElementById('itemname').value=res[0].name;
//                 console.log(res[0].price);
        });

        });

    });

</script>