<div>
    Measuring Unit:<br>
    <form action="settings/addunit" method="post">
    <input type="text" placeholder="New unit" name="new_item_unit">
        <input type="submit" class="btn btn-primary" value="Add"><br>
        <select name="item_unit">
            {{# each units }}
                <article class="unit">
                    <option value={{this.value}}>  {{this.name}}</option>


                </article>
            {{/each}}

            <option value="lt">Litres</option>
            <option value="nos">NOS</option>
        </select>
    </form>
<br><br><br>
    Category:<br>
    <form action="settings/addcategory" method="post">
    <input type="text" placeholder="New Category" name="new_item_category">
    <input type="submit" class="btn btn-primary" value="Add"><br>
    <select name="item_category">
        {{# each categories }}
            <article class="category">
                <option value={{this.value}}>  {{this.name}}</option>


            </article>
        {{/each}}
    </select>
    </form>
</div>